In [1]:
# !pip install selenium
# !pip install bs4
# chromedriver download link : https://chromedriver.chromium.org/downloads

In [2]:
import requests
import time
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.support.ui import Select

In [3]:
# 확인하고 싶은 아이디 입력
summoner_name = 'bbo bbo'

In [4]:
# 확인하고 싶은 자료 선정
Damage = []
CS = []
Tower = []
Wardplaced = []
visionWardplaced = []
WardKilled = []
Kill = []
Death = []
Assist = []
Level = []
Gold = []

In [5]:
# selenium을 백그라운드로 실행하기 위해 옵션 설정
options = webdriver.ChromeOptions()
options.add_argument('headless')
options.add_argument('window-size=1920x1080')

In [6]:
# selenium으로 실행시킬 url설정
summoner_url = 'https://poro.gg/summoner/kr/' + summoner_name
chrome_driver_path = "C:/Users/HEESU/[opgg데이터분석가]/chromedriver"
driver = webdriver.Chrome(chrome_driver_path)

driver.get(summoner_url)

<ipython-input-6-4db4e85b1dc4>:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chrome_driver_path)

In [7]:
# 솔로랭크의 자료만을 원하므로, 솔로랭크 버튼 클릭
solo_rank_button = driver.find_element_by_css_selector("#vue-profile > div.match-history-container.mt-3 > div:nth-child(1) > div.summoner-box__content > div > div.match-history-filter__queue-types > button:nth-child(2)")
solo_rank_button.click()
time.sleep(2)

<ipython-input-7-0c252052034b>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  solo_rank_button = driver.find_element_by_css_selector("#vue-profile > div.match-history-container.mt-3 > div:nth-child(1) > div.summoner-box__content > div > div.match-history-filter__queue-types > button:nth-child(2)")

In [8]:
# click_count = 0
# while True:
# #     if click_count == 3:
# #         break 
        
#     try:   
#         #더보기 클릭
#         driver.find_element_by_css_selector("#vue-profile > div.match-history-container.mt-3 > button").click()
#         time.sleep(1)
#         click_count += 1

#     except Exception as e:
#         pass
#         break

In [9]:
# 컨테이너의 정보들은, start가 3부터 시작해서, 1씩 더해지며 쌓인다.
start = 3
while True:
    try:
        driver.find_element_by_css_selector("#vue-profile > div.match-history-container.mt-3 > div:nth-child(" + str(start) + ") > div > div.match-history__expand-toggle").click()
        time.sleep(0.5)
        start += 1
    
    except Exception as e:
        pass
        break

<ipython-input-9-41c2df8222f9>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector("#vue-profile > div.match-history-container.mt-3 > div:nth-child(" + str(start) + ") > div > div.match-history__expand-toggle").click()

In [10]:
# 전체 펼친 html
summoner_html = driver.page_source
summoner_soup = BeautifulSoup(summoner_html, 'html.parser')

In [11]:
driver.quit()

In [12]:
summoner_games_html = summoner_soup.select('div.match-history__content')

In [13]:
# 불러오는 게임의 수
# games_len = len(summoner_games_html)
games_len = 13

In [14]:
# 각각의 정보들을 각 리스트에 담아준다.
for i in range(games_len):
    Level.append(int(list(summoner_games_html[i].select_one('div.champion').stripped_strings)[0]))
    CS.append(int(list(summoner_games_html[i].select_one('div.info').stripped_strings)[3]))
    Kill.append(int(list(summoner_games_html[i].select_one('div.kda').stripped_strings)[0]))
    Death.append(int(list(summoner_games_html[i].select_one('div.kda').stripped_strings)[2]))
    Assist.append(int(list(summoner_games_html[i].select_one('div.kda').stripped_strings)[4]))
    Wardplaced.append(int(list(summoner_games_html[i].select_one(' div.wards.mt-1').stripped_strings)[1]))
    visionWardplaced.append(int(list(summoner_games_html[i].select_one(' div.wards.mt-1').stripped_strings)[0]))
    WardKilled.append(int(list(summoner_games_html[i].select_one(' div.wards.mt-1').stripped_strings)[2]))

In [15]:
# 게임의 결과가 승리인지 패배인지 알려주는 html
# 각 게임의 '자세히보기' 버튼을 눌러야 나오는 정보들을 담는 코드

for i in range(games_len):
    summoner_games_html = summoner_soup.select('div.match-history__result')
    if list(summoner_games_html[i].stripped_strings)[0] == '패배':
        summoner_games_html = summoner_soup.select('div.match-history-detail__content')
        selector1 = '#vue-profile > div.match-history-container.mt-3 > div:nth-child(' + str(i+3) + ') > div.match-history-detail > div.match-history-detail__content > div > div > div.col-12.col-lg-6.border-e6-left-md > div > div.match-detail-overview__summoners > div.match-detail-overview__summoner.match-detail-overview__summoner--me > div > div.match-detail-overview__summoner__column.stats > div.wards > div:nth-child(2) > span'
        selector2 = '#vue-profile > div.match-history-container.mt-3 > div:nth-child(' + str(i+3) + ') > div.match-history-detail > div.match-history-detail__content > div > div > div.col-12.col-lg-6.border-e6-left-md > div > div.match-detail-overview__summoners > div.match-detail-overview__summoner.match-detail-overview__summoner--me > div > div.match-detail-overview__summoner__column.stats > div.graph > span'
    elif list(summoner_games_html[i].stripped_strings)[0] == '승리':
        summoner_games_html = summoner_soup.select('div.match-history-detail__content')
        selector1 = '#vue-profile > div.match-history-container.mt-3 > div:nth-child(' + str(i+3) + ') > div.match-history-detail > div.match-history-detail__content > div > div > div:nth-child(1) > div > div.match-detail-overview__summoners > div.match-detail-overview__summoner.match-detail-overview__summoner--me > div > div.match-detail-overview__summoner__column.stats > div.wards > div:nth-child(2) > span'
        selector2 = '#vue-profile > div.match-history-container.mt-3 > div:nth-child(' + str(i+3) + ') > div.match-history-detail > div.match-history-detail__content > div > div > div:nth-child(1) > div > div.match-detail-overview__summoners > div.match-detail-overview__summoner.match-detail-overview__summoner--me > div > div.match-detail-overview__summoner__column.stats > div.graph > span'
        
    gold = list(summoner_games_html[i].select_one(selector1).stripped_strings)[0]
    damage = list(summoner_games_html[i].select_one(selector2).stripped_strings)[0]
    if gold[-1] == '천':
        g = float(gold[:-1])
        g = int(g * 1000)
        Gold.append(g)
        
    elif gold[-1] == '만':
        g = float(gold[:-1])
        g = int(g * 10000)
        Gold.append(g)
        
    if ',' in damage:
        damage = damage.replace(',', '')
        damage = int(damage)
        Damage.append(damage)
    
    time.sleep(0.5)

In [16]:
# 각 리스트에 담긴 정보를, 평균을 내서 소수점 첫째 자리까지 반올림한다.
my_average_cs = round((sum(CS) / games_len), 1)
my_average_kill = round((sum(Kill) / games_len), 1)
my_average_death = round((sum(Death) / games_len), 1)
my_average_Assist = round((sum(Assist) / games_len), 1)
my_level = round((sum(Level) / games_len), 1)
my_wardplaced = round((sum(Wardplaced) / games_len), 1)
my_visionWardplaced = round((sum(visionWardplaced) / games_len), 1)
my_wardkilled = round((sum(WardKilled) / games_len), 1)
my_gold = round((sum(Gold) / games_len), 1)
my_damage = round((sum(Damage) / games_len), 1)

dataindex = ["Level", "CS", "Kill", "Death", "Assist", "wardPlaced", 
             "visionwardPlaced", "wardkilled", "Gold", "Damage"]
mydatacol = [my_level, my_average_cs, my_average_kill, my_average_death, 
                   my_average_Assist, my_wardplaced, my_visionWardplaced, my_wardkilled,
                  my_gold, my_damage]

In [17]:
# 데이터 프레임으로 그 정보들을 확인한다.
mydata = pd.DataFrame(mydatacol, index = dataindex).T

In [18]:
mydata.index = ['me']
mydata

,Level,CS,Kill,Death,Assist,wardPlaced,visionwardPlaced,wardkilled,Gold,Damage
me,14.2,152.4,7.2,5.2,9.9,9.0,5.2,4.2,11961.5,19860.4

In [19]:
data = pd.read_csv("C:/Users/HEESU/[opgg데이터분석가]/11.22(small).csv", index_col = 0)

In [20]:
data = data[['level', 'minionsKilled', 'championsKilled', 'numDeaths', 'assists', 'wardPlaced',
             'visionWardsBoughtInGame', 'wardKilled', 'goldEarned', 'totalDamageDealtToChampions']]
data.columns = dataindex

In [21]:
data = pd.concat([mydata, data])

In [22]:
data

,Level,CS,Kill,Death,Assist,wardPlaced,visionwardPlaced,wardkilled,Gold,Damage
me,14.2,152.4,7.2,5.2,9.9,9.0,5.2,4.2,11961.5,19860.4
0,12.0,19.0,3.0,7.0,22.0,5.0,0.0,4.0,7761.0,6807.0
1,13.0,101.0,1.0,7.0,9.0,6.0,0.0,1.0,7409.0,12431.0
2,13.0,121.0,5.0,8.0,10.0,9.0,1.0,0.0,9761.0,20206.0
3,12.0,46.0,4.0,9.0,21.0,12.0,2.0,2.0,8688.0,20328.0
...,...,...,...,...,...,...,...,...,...,...
19995,17.0,224.0,6.0,10.0,14.0,13.0,4.0,9.0,14483.0,31409.0
19996,18.0,170.0,14.0,10.0,14.0,9.0,4.0,2.0,16979.0,40934.0
19997,18.0,242.0,17.0,5.0,8.0,15.0,3.0,14.0,19699.0,44772.0
19998,18.0,57.0,14.0,6.0,12.0,22.0,6.0,4.0,19451.0,32941.0
19999,16.0,54.0,7.0,7.0,24.0,94.0,6.0,17.0,12870.0,22768.0

In [23]:
# dataindex = ["Level", "CS", "Kill", "Death", "Assist", "wardPlaced", 
#              "visionwardPlaced", "wardkilled", "Gold", "Damage"]
# mydatacol = [my_level, my_average_cs, my_average_kill, my_average_death, 
#                    my_average_Assist, my_wardplaced, my_visionWardplaced, my_wardkilled,
#                   my_gold, my_damage]

from math import *

# 0부터 1까지 1% 간격으로 범위를 만들어준다(0% ~ 100%).
rang = []
for i in range(101):
    # 정확한 소수점값이 아니므로, round
    rang.append(round(i*0.01, 2))

lst = data.quantile(rang)
d = pd.DataFrame(lst)
percent = []

for i in range(len(mydatacol)):
    selectd = pd.DataFrame(d[dataindex[i]])
    
    # 만약 중복되는 자료가 존재한다면.. 쪼개기 (예를 들어 레벨같은경우 14인 데이터가 많다)
    if len(selectd) != len(selectd[dataindex[i]].unique()):
        selectd = selectd[floor(mydatacol[i]) <= selectd[dataindex[i]]]
        selectd = selectd[selectd[dataindex[i]] < ceil(mydatacol[i])]
    
    # 각 퍼센트 마다 범위를 지정해준다.(예를 들면 레벨같은 경우 14.07, 14.14, 14.21 .... 이런식)
    ind = selectd.index
    length = len(selectd)
    for j in range(length):
        selectd[dataindex[i]][ind[j]] += j/length

        
    # 최소 오차의 값을 선정하는 코드
    min_distance = 100
    for lev in selectd[dataindex[i]]:
        if abs(lev - mydatacol[i]) < min_distance:
            min_distance = abs(lev - mydatacol[i])
            my_final_data = (selectd[selectd[dataindex[i]] == lev].index * 100)[0]

    percent.append(my_final_data)

In [24]:
percent

[52.0, 69.0, 68.0, 43.0, 73.0, 73.0, 85.0, 71.0, 70.0, 73.0]

In [25]:
for i in range(len(percent)):
    percent[i] = str(int(100 - percent[i])) + '%'

total = pd.DataFrame(percent, index = dataindex, columns = ['me(myway)'])
total = total.T
total

,Level,CS,Kill,Death,Assist,wardPlaced,visionwardPlaced,wardkilled,Gold,Damage
me(myway),48%,31%,32%,57%,27%,27%,15%,29%,30%,27%

In [26]:
ranked_data = data.rank(ascending = False, pct = True)
ranked_data *= 100

In [27]:
ranked_data

,Level,CS,Kill,Death,Assist,wardPlaced,visionwardPlaced,wardkilled,Gold,Damage
me,37.908105,31.103445,27.108645,47.572621,26.898655,38.400580,10.644468,22.308885,29.973501,27.008650
0,70.258987,86.838158,64.671766,31.440928,1.549923,72.951352,85.723214,26.741163,71.621419,80.430978
1,58.239588,52.424879,85.995700,31.440928,29.688516,63.459327,85.723214,69.579021,74.946253,53.567322
2,58.239588,45.442728,45.465227,22.346383,24.473776,38.400580,62.171891,89.700515,50.699965,26.083696
3,70.258987,65.601720,54.589771,15.156742,1.957402,22.913854,44.857757,51.714914,62.159392,25.803710
...,...,...,...,...,...,...,...,...,...,...
19995,11.269437,5.707215,37.458127,9.779511,10.346983,19.859007,20.408980,4.592270,13.509325,7.574621
19996,3.922304,22.531373,5.459727,9.779511,10.346983,38.400580,20.408980,51.714914,4.957252,2.379881
19997,3.922304,3.034848,2.424879,53.332333,35.628219,15.689216,30.780961,0.942453,1.354932,1.494925
19998,3.922304,62.214389,5.459727,41.990400,16.066697,8.729564,8.767062,26.741163,1.537423,6.194690
19999,19.981501,63.086846,30.415979,31.440928,0.964952,0.019999,8.767062,0.347483,22.966352,19.561522

In [28]:
# 시간으로 나누지 않은 결과값
# ranked 함수 사용한 결과값
my_data = ranked_data[ranked_data.index == 'me']
my_data = round(my_data, 1)
my_data

,Level,CS,Kill,Death,Assist,wardPlaced,visionwardPlaced,wardkilled,Gold,Damage
me,37.9,31.1,27.1,47.6,26.9,38.4,10.6,22.3,30.0,27.0

In [29]:
# 시간으로 나누지 않은 결과값
# ranked 함수 사용안한 결과값
total

,Level,CS,Kill,Death,Assist,wardPlaced,visionwardPlaced,wardkilled,Gold,Damage
me(myway),48%,31%,32%,57%,27%,27%,15%,29%,30%,27%

In [ ]:
# rank함수를 알게되었다. 맨위에 데이터가 내꺼고, 위에 구간을 나눈것과 약간의 차이가 있다.
# (차이가 나는 이유는, 나는 같은 데이터를 쪼갰고, rank함수는 쪼개지않고 바로 써서 그렇다.)
# 쪼갤 필요가 없는 cs나 gold, damage는 거의 비슷한 것을 확인할 수 있다.